.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.monitor {
  width: 300px;
  height: 60px;
  background-color: cornflowerblue;
}

.card {
  width: 600px;
  height: 600px;
  border-radius: 20px;
  background-color: darkseagreen;
  display: flex;
  flex-direction: column;
}